
* {
    font-family: cascadia;
}

main {
    margin-left: 100px;
    margin-right: 150px;
}

.org-name {
    display: block;
    text-decoration: none;
    user-select: none;
    color: var(--prim);
    font-weight: bolder;
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 200px;
    line-height: 80%;
    text-shadow: 
        0px 0px 0 var(--prim), 
        5px 5px 0 #604040, 
        10px 10px 0px #202020
    ;
    transition: 200ms;
    text-align: left;

    width: 0;
}

.org-name:hover, h2:hover,
.org-name:focus-within, h2:focus-within {
    outline: none;
    color: #fff;
    text-shadow: 
        5px 5px 0 var(--prim), 
        10px 10px 0 #604040, 
        15px 15px 0px #202020
    ;
}

.org-name.nav {
    font-size: 3rem;
    margin: 50px 0 50px 100px;
}

.tile-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

.game {
    background-color: var(--bg-l);
    width: 400px;
    padding: 300px 20px 20px 20px;
    height: 550px;
    overflow: hidden;
    position: relative;
    margin: 0;
    z-index: 0;

    transition: 200ms;

    box-shadow:
        10px 10px #202020
    ;
}

.game::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(4deg, var(--bg-ll) 63%, transparent 63.2%);
    background-size: 600px 800px;
    z-index: -1;
}

.game:hover, .game:focus-within {
    transform: translate(-5px, -5px);
    box-shadow:
        20px 20px #202020
    ;
}

h2 {
    width: fit-content;
    font-size: 3rem;
    margin: 50px 50px 30px 0;
    transition: 200ms;
    user-select: none;

    color: var(--prim);
    font-weight: bolder;
    text-shadow: 
        0px 0px 0 var(--prim), 
        5px 5px 0 #604040, 
        10px 10px 0px #202020
    ;
}

h2 sup {
    font-size: 0.4em;
    color: var(--txt-d);
    text-shadow: none;
    margin-left: 0.1em;
}

h4 {
    font-size: 1.4rem;
    font-weight: bolder;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.tag {
    color: var(--txt-d);
}

a {
    font-weight: bold;
}

a.btn {
    display: inline-block;
    background-color: var(--bg-lll);
    border-radius: 0;
    padding: 5px 10px 5px 6px;

    transform: skewX(15deg);
    font-style: italic;
    margin-bottom: 10px;
    font-weight: normal;
}

.tag {
    display: block;
}

.tag::before {
    content: "Available on: ";
}

.game .descr {
    margin: 10px 0 30px 0;
}

.game .background {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    z-index: -5;
    background-size: cover;
    background-position: center;

    filter: saturate(90%) brightness(80%);
    transition: 200ms;
}

.game:hover .background, .game:focus-within .background {
    filter: saturate(100%) brightness(100%);
}

.pixel-art {
    image-rendering: crisp-edges;
}

footer {
    display: block;
    width: 100vw;
    margin-top: 40px;
    padding: 30px;
    background-color: var(--bg-ll);
}

nav {
    margin: 0 0 50px 0;
}

.category-descr {
    color: var(--txt-d);

}

.h2-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
}

.side-content {
    position: absolute;
    padding: 0 5vh 5vh 15vh;
    top: 0vh;
    right: 0;
    width: 45vw;
    background: linear-gradient(calc(90deg - 15deg), transparent 0%, transparent 12%, var(--bg-l) 12%, var(--bg-l) 100%);
}

.side-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    display: inline-block;
}

.comming-soon-logo {
    width: 70%;
    opacity: 0.5;
    display: block;
}

@font-face {
    font-family: "cascadia";
    src: url("CascadiaCode.ttf");
}

@media screen and (max-width: 1400px) {
    .side-content {
        background: var(--bg-l);
        width: 35vw;
        padding: 0 5vh 5vh 5vh;
    }
}

@media screen and (max-width: 1200px) {

    main {
        margin: 20px;
    }

    .org-name.nav {
        margin-left: 20px;
    }

}

@media screen and (max-width: 1000px) {

    .side-content {
        position: static;
        padding: 0;
        background: var(--bg-l);
        margin: 30px -20px 0 -20px;
        padding: 30px 20px 30px 20px;
        width: 100vw;
    }

    .comming-soon-logo {
        margin: auto;
    }

    .side-content h2 {
        margin-top: 0;
    }

}

@media screen and (max-width: 900px) {

    main {
        text-align: center;
    }

    .tile-list {
        justify-content: center;
        gap: 30px;
    }

    .game {
        width: 350px;
        text-align: left;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .org-name {
        font-size: 4rem;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        margin-top: 120px;
        margin-bottom: 120px;
    }

    .org-name.nav {
        margin-left: auto;
        margin-right: auto;
    }


    h2 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 780px) {

    .game {
        width: 400px;
        height: fit-content;
    }

}


@media screen and (max-width: 450px) {

    .org-name {
        font-size: 3.3rem;
    }

}


@media screen and (max-height: 900px) {

    .org-name {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    h2 {
        margin-top: 20px;
    }

}
