
* {
    font-family: cascadia;
}

main {
    margin-left: 100px;
    margin-right: 200px;
}

.org-name {
    color: var(--prim);
    font-weight: bolder;
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 100px;
    line-height: 80%;
}

.game {
    background-color: var(--bg-l);
    width: 1000px;
    padding: 20px 400px 20px 20px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(75deg, var(--bg-ll) 60%, transparent 60.1%);
}

h2 {
    margin: -3px 50px 20px 0;
    display: inline-block;
    transform: translateY(3px);
}

.tag, a.btn {
    display: inline-block;
    background-color: var(--bg-lll);
    border-radius: 0;
    padding: 10px 15px 10px 12px;

    transform: skewX(15deg);
    font-style: italic;
    margin-bottom: 10px;
}

.tag::before {
    content: "#";
    color: var(--txt-d);
    font-weight: bolder;
    margin-right: 5px;
}

.game .descr {
    margin: 10px 0 30px 0;
}

.game .background {
    position: absolute;
    width: 62%;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    z-index: -1;
}

.game .background.small {
    width: 45%;
    right: -2%;
}

.pixel-art {
    image-rendering: crisp-edges;
}

footer {
    display: block;
    width: 100vw;
    margin-top: 40px;
    padding: 30px;
    background-color: var(--bg-ll);
}

@font-face {
    font-family: "cascadia";
    src: url("CascadiaCode.ttf");
}

@media screen and (max-width: 1200px) {
    main {
        margin: 20px;
    }

    .game {
        width: calc(100vw - 40px);
    }

    .org-name {
        margin-top: 100px;
    }

    .tag, a.btn {
        font-size: 0.8rem;
        padding: 5px 8px 5px 6px;
    }

    .tag {
        margin-bottom: 0;
    }

    .game h2 {
        font-size: 1.5em;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .game .descr {
        font-size: 0.8em;
        margin: 10px 0;
    }

}

@media screen and (max-width: 700px) {
    .org-name {
        font-size: 3rem;
    }

    .game {
        width: calc(100vw - 40px);
        padding-right: 20px;
        padding-top: 200px;
        background: linear-gradient(5deg, var(--bg-ll) 40%, transparent 80.1%);
    }

    .game .background {
        position: absolute;
        width: 150%;
        top: -2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .game .background.small {
        width: 120%;
        top: -15%;
    }
}

